<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
  <% include ./partials/_header %>
  </header>
  <ul>
      <%=shortURL%>
      <%=longURL%>
  </ul>
  <form action="/urls/<%= shortURL %>" method="POST">
  <p>
    <input id="longURL" type="text" name="longURL" value="<%= longURL%>">
    <button>Update</button>
  </form>
  <form method="POST" action="/urls/<%=shortURL%>/delete" style="display:inline">
    <button>Delete</button>
  </form>
  </p>
</body>
</html>